* {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  color: #29293d; /* font color */;
}

body{
  z-index: 98;
  background-color: #f2f2f2;
}

.dialog_blackout{
  /*Dialog blackout page JavaScript style manipulation */

}

/* Main styling */
a {
  text-decoration: none;
  color: #29293d;
}


.logo_div{
  height: 100px;
  width: 150px;
  float: left;
  margin: 1% 0 1% 1%;
}

#logo{
  border: 3px solid #f2f2f2;
  border-radius: 45px;
}

.heading {
  background-color: #1b9dd1; /* heading color #1b9dd1 */
  height: 45px;
  border: 2px solid #cccccc;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header styling */

.header_div {
  overflow: hidden;
  margin-top: 50px;
  margin-left: 1%;
  width: 98%;
  height: 45px;
  clear: both;
}

nav{
  float: right;
}

.navbar li{
  font-weight: bold;
  font-size: 15px;
  float: left;
  display: inline;
  padding: 0px 35px;
}

.navbar a {
  margin-top: 13.5px;
  display: block;
}

.navbar li:hover {
  background-color: #f2f2f2;
  height: 45px; /* hover color */
  border-radius: 5px;
}

.active{
  padding-top: 10px;
  background-color: #f2f2f2; /* hover color */
  height: 45px;
  border-radius: 5px;
}

.company_name {
  font-size: 50px;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
}

/* Main part styling */

/* Picture styling */
.picture{
  margin: 0 1% 1% 1%;
  border-radius: 10px;
  width: 98%;
  min-height: 500px;
  background-image: url("../images/picture.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
  display: block;
}

.picture_heading {
  font-size: 30px;
  padding-left: 50px;
  padding-top: 300px;
  color: #e6e6e6;
}

/*#info_button_txt{
  opacity: 1;
}*/

#info_button{
  margin-left: 50px;
  color: black;
  font-size: 18px;
  width: 150px;
  border: none;
  padding: 9.5px;
  background-color: white;
  opacity: 0.5;
}

#info_button:hover{
  background-color: #ffffff;
  font-weight: bold;
  padding: 1,5px;
  background-color: #e2b34d;
  opacity: 0.9;
}

/* Main text styling */
.main-text {
  float: left;
  width: 65%;
  text-align: justify;
  margin-left: 5%;
  margin-bottom: 80px;
}

.main_heading {
  text-transform: capitalize;
  font-size: 45px;
}

.main-text ul{
  font-size: 20px;
  font-style: italic;
}

.main-text li{
  margin-top: 5px;
  font-size: 25px;
}

.main-text p {
  font-size: 18px;
}

.main-text p::first-letter{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

/* Sidebar styling */

.sidebar{
  margin-top: 10px;
  float: right;
  width: 20%;
  margin-right: 1%;
  margin-bottom: 20px;
}

.aside h3{
  text-transform: capitalize;
  margin-top: 13px;
  margin-left: 5px;
  height: 45px;
}

/* Individual parts of sidebar styling */

.advantage{
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid #c1c1c1;
  padding: 10px;
  margin-bottom: 20px;
  border-top: none;
}

.advantage li{
  margin-top: 10px;
}

.calc{
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid #c1c1c1;
  border-top: none;
  padding: 10px;
}

.calc_heading{
  margin-bottom: 8px;
  text-transform: capitalize;
  clear: both;
}

.calc input{
  width: 100%;
}

.input_calc{
  margin-left: 5px;
  text-transform: capitalize;
  float: right;
  clear: both;
}

.contact_session{
  clear: both;
  margin-top: 30px;
}

.price_output{
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.get_contact_btn{
  width: 100px;
  padding: 8px;
  border: 3px solid #336699;
  border-radius: 7px;
}

.get_contact_btn:hover{
  font-weight: bold;
}

.second_aside{
  margin-top: 10px;
}

/*About site styling */

.about_image{
  background-image: url("images/about_picture.jpg");
  background-repeat: no-repeat;
  padding-top: 30px;
}

.news_checkbox_label{
  margin-left: 5px;
}

#input_email_news{
  width: 80%;
  margin-bottom: -5px;
}

#email_sub_btn{
  margin-top: 10px;
}

.common-text{
  margin-top: 5px;
  margin-bottom: 20px;
}

.main_heading_about{
  margin-top: 10px;
}

.talking_about{
  border-radius: 100px;
  padding: 20px;
  margin-top: 5px;
}

.about_picture{
  width: 98%;
  min-height: 500px;
  margin-left: 1%;
  background-image: url("images/about_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

/* Contact site styling */

.contact_text{
  clear: both;
}

.agent_info{
  float: left;
  clear: both;
}

#agent_image{
  float: left;
  transform: rotate(90deg);
  max-width: 150px;
  max-height: 300px;
  margin-left: 100px;
  margin-top: 35px;
  display: block;
  border-radius: 10px;
}

.tel_number{
  font-size: 25px;
}


.email{
  font-size: 25px;
  margin-left: 1%;
}
#map{
  margin-top: 30px;
  border-radius: 20px;
}

.heading_contact{
  margin-top: 20px;
}

#instead_map{
  display: none;
}

.contact_sidebar{
  text-align: center;
}

/*Dialog styling*/

#dialog{
  border-radius: 10px;
  background-color: inherit;
  border: none;
  top: 20%;
  width: 33%;
  height: auto;
  position: fixed;
  display: none;
  margin-left: 33.5%;
}

.contact_form{
  border-radius: 10px;
  background-color: inherit;
}

.container_dialog{
  padding: 15px;
  border: solid 1px #c1c1c1;
  border-top: none;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.dialog_heading{
  clear: both;
  text-align: center;
}

.dialog_btn{
  display: block;
  margin: auto;
  width: 70%;
  margin-bottom: 5px;
}

.dialog{
  border: none;
  padding: 3px;
  border-radius: 7px;
  display: block;
  margin: auto;
  width: 70%;
  margin-bottom: 2px;
}

.dialog_price{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.sub_checkbox_label{
  margin-left: 5px;
}

/* Close dialog button styling */

#close_dialog{
  margin-right: 8px;
  margin-top: 9.5px;
  clear: both;
  float: right;
  display: block;
}

#close_dialog:hover{
  animation-name: rotating;
  animation-duration: 0.3s;
}

@keyframes rotating {
  from {transform: rotate(0deg)}
  to {transform: rotate(90deg);}
}

.dialog_heading h4{
  clear: both;
}

#end_dialog{
  border-radius: 10px;
  background-color: inherit;
  border: none;
  top: 20%;
  width: 33%;
  height: auto;
  position: fixed;
  display: none;
  margin-left: 33.5%;
}

#end_dialog h4{
  font-size: 25px;
  text-align: center;
}

#leave{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 40%;
}
#data_checkbox{
  margin-top: 10px;
}

#contact_submit_btn{
  width: 40%;
  margin-top: 20px;
}

/* Error boxes */

.error{
  display: none;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff704d;
  width: 60%;;
  height: inherit;
  padding: 5px 0;
  border-radius: 7px;
}

.wrong{
  font-weight: bold;
  text-align: center;
}


/* Footer styling */

.footer{
  text-align: center;
  border-top: 2px solid #c1c1c1;
  padding: 15px;
  clear: both;
}

/* Media queries */

@media only screen and (min-width: 1921px) {
  .sidebar{
    width: 14%;
    margin-right: 15%;
  }

  .main-text{
    width: 45.5%;
    margin-left: 20%;
  }

  .picture{
    width: 70%;
    margin-left: 15%;
  }

  .logo_div{
    margin-left: 15%;
  }

  .header_div{
    width :70%;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 1024px) {
  #get_contact_btn{
    float: right;
    clear: both;
    margin-top: 5px;
  }
  .contact_session{
    margin-top: 0;
  }
  .calc{
    padding-bottom: 90px;
  }

  .second_aside{
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .picture_heading{
    padding-top: 50px;
  }

  .calc{
    padding-bottom: 15px;
  }

  #get_contact_btn{
    display: block;
    width: 98%;
    float: none;
    clear: both;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .price_output{
    text-align: center;
    display: block;
    width: 50%;
    margin-left: 24%;
    margin-right: 24%;
    float: none;
  }

  .main-text{
    float: left;
    width: 85%;
    clear: both;
    margin-bottom: 35px;
  }
  .sidebar{
    width: 98%;
    float: none;
    clear: both;
  }

  .first_aside, .second_aside{
    margin-top: 25px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #dialog{
    width: 70%;
  }

  #end_dialog{
    width: 50%;
  }

  .first_aside_about{
    margin-left: 1%;
    float: left;
    width: 30%
  }

  .second_aside_about{
    float: left;
    margin-left: 4%;
    display: block;
    width: 30%
  }

  .third_aside_about{
    float: left;
    margin-left: 4%;
    width: 30%;
  }

  #map{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    width: 65%;
  }

  #agent_image{
    float: right;
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 800px) {
  #agent_image{
    float: left;
    margin-top: 30px;
    margin-left: auto;
    display: block;
  }

  .first_aside_about, .second_aside_about, .third_aside_about{
    float: none;
    width: 70%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media only screen and (max-width: 425px) {
  nav{
    width: 98%;
  }

  .navbar a {
    text-align: center;
    font-size: 12px;
  }



  .navbar li{
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    float: left;
  }

  #agent_image{
    float: left;
    display: block;
    margin-bottom: 20px;
  }

  #map{
    display: none;
  }

  #instead_map{
    text-align: center;
    display: block;
    font-size: 25px;
    margin-top: 15px;
  }

  #instead_map:hover{

  }

  #agent_image{
    transform: none;
  }

  #end_dialog{
    width: 98%;
    margin-left: 1%;
  }

  #dialog{
    margin-top: 0;
    margin-left: 1%;
    width: 98%;
    height: 98%;
  }

  .picture_heading{
    margin-right: 10px;
  }

  .picture{
    background-position:-620px -370px;
  }

  .company_name{
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .second_aside{
    margin-left: 1.5%;
  }

  .first_aside, .second_aside{
    float: none;
    width: 98%;
  }

  .calc{
    padding-bottom: 15px;
  }

  #get_contact_btn{
    display: block;
    width: 98%;
    float: none;
    clear: both;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .price_output{
    text-align: center;
    display: block;
    width: 50%;
    margin-left: 24%;
    margin-right: 24%;
    float: none;
  }



  #email_sub_btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
  }

}
